// database.js
// ======
// Rename database.js.example to database.js and edit the settings below
// ======

module.exports = {
    host: "localhost",
    user: "",
    password: "",
    database: "owstats"
};
