<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                <%= breadcrumb.title %>
                    <small>
                        <%- breadcrumb.description %>
                    </small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>
                    <%= breadcrumb.area %>
                </li>
                <li>
                    <a class="link-effect" href="#">
                        <%= breadcrumb.title %>
                    </a>
                </li>
            </ol>
        </div>
    </div>
</div>