<script src="/javascripts/core/jquery.min.js"></script>
<script src="/javascripts/core/bootstrap.min.js"></script>
<script src="/javascripts/core/jquery.slimscroll.min.js"></script>
<script src="/javascripts/core/jquery.scrollLock.min.js"></script>
<script src="/javascripts/core/jquery.appear.min.js"></script>
<script src="/javascripts/core/jquery.countTo.min.js"></script>
<script src="/javascripts/core/jquery.placeholder.min.js"></script>
<script src="/javascripts/core/js.cookie.min.js"></script>
<script src="/javascripts/app.js"></script>

<% if (chartjs) { %>
<script src="/javascripts/plugins/chartjsv2/Chart.min.js"></script>
<script src="/javascripts/chartjs_v2.js"></script>
<% } %>

</body>
</html>