<script src="/javascripts/core.min.js"></script>
<script src="/javascripts/owstats.min.js"></script>

<script type="text/javascript">
    $('img.hero').click(function () {
        var hero = $(this)[0].id;
        var table = $(".hero-frame").contents().find("table");
        var rows = table.find('tr');
		rows.show(); // Reset Table

        rows.find('td').each(function () {
			var text = correctText($(this).text());
             if (isHero(text)) {
				if (text != hero) {
					$(this).parent().hide();
				}
             }
        });
		
		$('.block-content img').each(function() {
			if (this.id != hero) {
				setGreyscale($(this));
			} else {
				resetGreyscale($(this));
			}
		});
    });
	
	function showLoader() {
		$('#preloader').show();
	}
	
	function hideLoader() {
		$('#preloader').fadeOut('slow', function() {
			$(this).hide();
		});
	}
	
	function setGreyscale(elem) {
		elem.css('-webkit-filter', 'grayscale(100%)');
		elem.css('filter', 'grayscale(100%)');
	}
	
	function resetGreyscale(elem) {
		elem.css('-webkit-filter', '');
		elem.css('filter', '');
	}
	
	function correctText(text) {
		if (text.startsWith("Hero")) {
			return text.substring(4);
		}
		return text;
	}
	
	function isHero(value) {
		switch(value) {
			case 'ana':
				return true;
				break;
			case 'bastion':
				return true;
				break;
			case 'doomfist':
				return true;
				break;
			case 'dva':
				return true;
				break;
			case 'genji':
				return true;
				break;
			case 'hanzo':
				return true;
				break;
			case 'junkrat':
				return true;
				break;
			case 'lucio':
				return true;
				break;
			case 'mccree':
				return true;
				break;
			case 'mei':
				return true;
				break;
			case 'mercy':
				return true;
				break;
			case 'orisa':
				return true;
				break;
			case 'pharah':
				return true;
				break;
			case 'reaper':
				return true;
				break;
			case 'reinhardt':
				return true;
				break;
			case 'roadhog':
				return true;
				break;
			case 'soldier76':
				return true;
				break;
			case 'sombra':
				return true;
				break;
			case 'symmetra':
				return true;
				break;
			case 'torbjorn':
				return true;
				break;
			case 'tracer':
				return true;
				break;
			case 'widowmaker':
				return true;
				break;
			case 'winston':
				return true;
				break;
			case 'zarya':
				return true;
				break;
			case 'zenyatta':
				return true;
				break;
			default:
				return false;
		}
	}

</script>

</body>

</html>
