<nav id="sidebar">
    <div id="sidebar-scroll">
        <div class="sidebar-content">

            <div class="side-header side-content bg-white-op">
                <!-- Close Button in Mobile -->
                <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                    <i class="fa fa-times"></i>
                </button>
                <!-- Logo -->
                <a class="h5 text-white" href="/">
                    <img src="/images/favicons/favicon-32x32.png" style="margin-top: -4px;">
                    <span class="h4 font-w600 sidebar-mini-hide">Wstats</span>
                </a>
            </div>

            <div class="side-content side-content-full">
                <ul class="nav-main">
                    <li class="nav-main-heading">
                        <span class="sidebar-mini-hide">Competitive</span>
                    </li>
                    <li>
                        <a <% if (url.includes( "competitive-general") || url=="/" ) { %> class="active"
                            <%}%> href="/competitive-general">
                                <i class="fa fa-tachometer"></i>
                                <span class="sidebar-mini-hide">General</span>
                        </a>
                    </li>
                    <li>
                        <a <% if (url.includes( "competitive-week")) { %> class="active"
                            <%}%> href="/competitive-week">
                                <i class="fa fa-calendar"></i>
                                <span class="sidebar-mini-hide">Weekly</span>
                        </a>
                    </li>
                    <li>
                        <a <% if (url.includes( "competitive-high")) { %> class="active"
                            <%}%> href="/competitive-high">
                                <i class="fa fa-arrow-up"></i>
                                <span class="sidebar-mini-hide">High</span>
                        </a>
                    </li>
                    <li>
                        <a <% if (url.includes( "competitive-heroes")) { %> class="active"
                            <%}%> href="/competitive-heroes">
                                <i class="fa fa-area-chart"></i>
                                <span class="sidebar-mini-hide">Heroes</span>
                        </a>
                    </li>
                    <li>
                        <a <% if (url.includes( "competitive-graphs")) { %> class="active"
                            <%}%> href="/competitive-graphs">
                                <i class="fa fa-line-chart"></i>
                                <span class="sidebar-mini-hide">Graphs</span>
                        </a>
                    </li>
                    <li class="nav-main-heading">
                        <span class="sidebar-mini-hide">Quickplay</span>
                    </li>
                    <li>
                        <a <% if (url.includes( "quickplay-general")) { %> class="active"
                            <%}%> href="/quickplay-general">
                                <i class="fa fa-tachometer"></i>
                                <span class="sidebar-mini-hide">General</span>
                        </a>
                    </li>
                    <li>
                        <a <% if (url.includes( "quickplay-week")) { %> class="active"
                            <%}%> href="/quickplay-week">
                                <i class="fa fa-calendar"></i>
                                <span class="sidebar-mini-hide">Weekly</span>
                        </a>
                    </li>
                    <li>
                        <a <% if (url.includes( "quickplay-high")) { %> class="active"
                            <%}%> href="/quickplay-high">
                                <i class="fa fa-arrow-up"></i>
                                <span class="sidebar-mini-hide">High</span>
                        </a>
                    </li>
                    <li>
                        <a <% if (url.includes( "quickplay-heroes")) { %> class="active"
                            <%}%> href="/quickplay-heroes">
                                <i class="fa fa-area-chart"></i>
                                <span class="sidebar-mini-hide">Heroes</span>
                        </a>
                    </li>
                    <li>
                        <a <% if (url.includes( "quickplay-misc")) { %> class="active"
                            <%}%> href="/quickplay-misc">
                                <i class="fa fa-random"></i>
                                <span class="sidebar-mini-hide">Misc</span>
                        </a>
                    </li>
                    <li class="nav-main-heading">
                        <span class="sidebar-mini-hide">OWstats</span>
                    </li>
                    <li>
                        <a <% if (url.includes( "owstats-database")) { %> class="active"
                            <%}%> href="/owstats-database">
                                <i class="fa fa-cogs"></i>
                                <span class="sidebar-mini-hide">Database</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<header id="header-navbar" class="content-mini content-mini-full">
    <ul class="nav-header pull-left">
        <li class="hidden-md hidden-lg">
            <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
                <i class="fa fa-navicon"></i>
            </button>
        </li>
        <li class="hidden-xs hidden-sm">
            <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
                <i class="fa fa-ellipsis-v"></i>
            </button>
        </li>
    </ul>
</header>