<footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
    <div class="pull-right">
        Made with <i class="fa fa-heart text-city"></i> by <a href="https://wdkgaming.de" target="_blank">WDKGaming</a>
    </div>
    <div class="pull-left">
        Generated in <%= (now() - startTime).toFixed(2) %> Milliseconds.
    </div>
</footer>